@use '../mixins' as *;

.hero {
	a {
		@include button-base(#ff6f61, #ff4b3c);
	}
}

#truth {
	h2 {
		@include heading;
		@include button-base(#009688, #009688);
	}
	span {
		color: #009688;
	}
}

#solution {
	h2 {
		@include heading;
		@include button-base(#ff9800, #ff9800);
	}
	span {
		color: #ff9800;
	}
}

#fun {
	h2 {
		@include heading;
		@include button-base(#9c27b0, #9c27b0);
	}
	span {
		color: #9c27b0;
	}
}

#go {
	h2 {
		@include heading;
		@include button-base(#2196f3, #2196f3);
	}
	span {
		color: #2196f3;
	}
}
